<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger satisfaction analysis</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body style="margin: 0; padding: 0; background: linear-gradient(135deg, #645cec 0%, #0c5f95 100%); font-family: Arial, sans-serif; height: 100vh; display: flex; justify-content: center; align-items: center;">
<div class="start-container">
    <div class="form-card">
        <h1>Flight analysis</h1>
        <p>Airline passenger satisfaction analysis system</p>

        <form action="/result" method="GET">
            <div class="input-group">
                <label for="flightSelect">Select a flight to analyze:</label>
                <select id="flightSelect" name="flight_id" required>
                    <option value="">Loading flights...</option>
                </select>
            </div>

            <button type="submit" class="btn-submit">Find out the result</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        const select = document.getElementById('flightSelect');
        try{
            const response = await fetch('/api/flights');
            const flights = await response.json();

            select.innerHTML = '<option value="">Select flight</option>';
            flights.forEach(flight => {
                const option = document.createElement('option');
                option.value = flight.flight_id;
                option.textContent = `${flight.flight_id} | ${flight.origin} -> ${flight.destination}`;
                select.appendChild(option);
            });
        }catch (error) {
            console.error('Error loading flights:', error);
            select.innerHTML = '<option value="">Error loading flights</option>';
        }
    });
</script>
<div class="blobs">
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-3"></div>
    <div class="blob blob-4"></div>
    <div class="blob blob-5"></div>
    <div class="blob blob-6"></div>
</div>
</body>
</html>
